@page "/category/index"
@using AbakTools.Core.Dto.Category
@using AbakTools.Web.Components.ModalDialog
@inject AbakTools.Web.Framework.WebApiClient ApiClient
@inject IModalDialogService ModalService

<h3>Kategorie</h3>

<nav aria-label="breadcrumd">
    <ol class="breadcrumb">
        @foreach (var category in categoryStack)
        {
            <li class="breadcrumb-item active"><a href="#" @onclick="@(e => SelectCategoryFromStack(category))" @onclick:preventDefault>@category.Name</a></li>
        }
    </ol>
</nav>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Kolejność</th>
            <th scope="col">Aktywna</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @if (categories != null)
        {
            foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td><a href="#" @onclick="@(e => SelectCategory(category))" @onclick:preventDefault>@category.Name</a></td>
                    <td>@category.DisplayOrder</td>
                    <td>@category.Active</td>
                    <td>
                        <div>
                            <a href="#" @onclick="@(e => EditCategory(category.Id))" @onclick:preventDefault>Edytuj</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private IEnumerable<CategoryItemDto> categories;
    private List<CategoryItemDto> categoryStack = new List<CategoryItemDto>();

    protected override async Task OnInitializedAsync()
    {
        categories = await ApiClient.GetCategoriesByParentIdAsync(null);
    }

    public async Task SelectCategory(CategoryItemDto category)
    {
        categories = await ApiClient.GetCategoriesByParentIdAsync(category.Id);
        categoryStack.Add(category);
    }

    public async Task SelectCategoryFromStack(CategoryItemDto category)
    {
        var list = new List<CategoryItemDto>();

        foreach (var cat in categoryStack)
        {
            if (cat.Id == category.Id)
            {
                break;
            }

            list.Add(cat);
        }

        categoryStack.Clear();
        categoryStack.AddRange(list);
        await SelectCategory(category);
    }

    private void EditCategory(int id)
    {
        ModalService.Show<Edit>("Edycja kategorii", ModalDialogParameters.Create("CategoryId", id));
    }
}
